<template>
  <div class="child">
    <p>Child:{{ value }}</p>
    <input id="ChildInput"
           type="text"
           :value="value"
           @input="test"/>
    <button @click="clickChildButton(value)">clickChildButton</button>
    <grand-child-layer class="grand-child"
                       v-model="value"></grand-child-layer>
  </div>
</template>

<script>
import GrandChildLayer from '../components/GrandChildLayer'

export default {
  name: 'ChildLayer',
  components: {
    GrandChildLayer
  },
  props: {
    value: {
      type: String
    },
    msg: String
  },
  methods: {
    test (e) {
      const vm = this
      vm.$emit('input', e.target.value)
    }
  }
}
</script>

<style scoped lang="less">

.child {
  border: solid gray;
  background: palegreen;
}

.grand-child {
    margin-left: 10px;
}

</style>
