<template>
  <div class="grand-child">
    <p>GrandChild:{{ value }}</p>
    <!-- v-modelに直接propsのvalueを指定しているため、
         inputタグのinputイベントが呼ばれるたびに
         コンソールにエラーが出て、値の更新も行われない -->
    <input id="GrandChildInput"
           type="text"
           v-model="value"/>
  </div>
</template>

<script>
export default {
  name: 'GrandChildLayer',
  props: {
    value: String,
    msg: String
  }
}
</script>

<style scoped lang="less">

.grand-child {
  border: solid gray;
  background: paleturquoise;
}

</style>
