<template>
  <div class="parent">
    <!-- 説明のための表示 -->
    <p>Parent:{{ model.testData }}</p>
    <!-- THML5 標準の要素に対するデータバインディング -->
    <input id="ParentInput"
           type="text"
           v-model="model.testData"/>
    <!-- 自作のコンポーネントに対するデータバインディング -->
    <child-layer class="child"
                 v-model="model.testData"></child-layer>
  </div>
</template>

<script>
import ChildLayer from '../components/ChildLayer'

export default {
  name: 'ParentLayer',
  components: {
    ChildLayer
  },
  props: {
    msg: String
  },
  data () {
    return {
      model: {
        testData: '最初の値'  // 上記のtemplete部で合計3箇所にバインドされている。
      }
    }
  }
}
</script>

<style scoped lang="less">

.parent {
  border: solid gray;
  background: pink;
  height: 300px;
  width: 300px;
}

.child {
  margin-left: 10px;
}

</style>